@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .page {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;



        font-family: 'Poppins', sans-serif;
    }

    .page h1 {
        font-size: 48px;
        color: #2B303A;
        margin: 0;
    }

    .page p {
        color: #2B303A;
    }

    #imagenPortada {
        width: 434px;
        height: 293px;
    }

    #portada p {
        width: 924px;
        text-align: center;
    }
}